doctype html
html(lang="vi")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{titlePage || "Admin Login"}
        link(rel="stylesheet" href="/admin/CSS/auth.css")
    body
        .auth-wrapper
            block main
