extends ../../layout/default
include ../../mixin/product-layout.pug

block main
    .section-products.my-4
        .container
            h3.section-title Danh sách sản phẩm
            +product-layout(productFeatured)
    .section-latest-products.my-4
        .container
            h3.section-title Sản phẩm mới nhất
            +product-layout(productNew)
