extends ../../layout/default.pug
include ../../mixin/box-head.pug

block main
    .container.my-3
        .row
            .col-12
            +box-head(titlePage)
        .row.justify-content-center
            .col-md-8.text-center
                .card.p-5.shadow
                    h2.text-success.mb-3 ✔ Đặt hàng thành công
                    p.mb-4
                        | Cảm ơn bạn đã đặt hàng. Đơn hàng của bạn đang được xử lý
                        | và sẽ được giao trong thời gian sớm nhất.

                    a.btn.btn-primary.mr-2(href="/") Tiếp tục mua hàng
                    a.btn.btn-outline-secondary(href="/cart") Xem giỏ hàng