extends ../../layout/default.pug
include ../../mixin/product-layout.pug

block main
    .container.my-3
        .row
            .col-12
                //- +box-head("Danh sách sản phẩm")
        +product-layout(product)