doctype html
html(lang="vi")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= titlePage || 'Web bán hàng'

    body(style="font-family: 'Roboto', sans-serif;")
        include ../partial/header.pug

        block main

        include ../partial/footer.pug

  
    
