mixin change(path)
    form(
        action = path 
        method = "POST"
        form-change-multi
    )
        .d-flex.align-items-status
            .form-group
                select(name="status" class="form-control")
                    option(disable selected) -- Chọn hành động --
                    option(value="active") Hoạt động 
                    option(value="inactive") Ngừng hoạt động
                    option(value="delete-all") Xóa tất cả
                    option(value="position") Thay đổi vị trí
            .form-group 
                input(
                    type="text"
                    name="ids"
                    value=""
                    class="form-control"
                    hidden
                ) 
            button(type = "submit" class="btn btn-primary align-self-start") Áp dụng